*.antlr
ChipsCompiler/ATL Chips2BIP/models/TeaStoreVariation.xmi
ChipsCompiler/FullCompileChain/Chips2BipTransformer/examplemodels/output/TeaStoreVariation.bip
ChipsCompiler/FullCompileChain/Chips2BipTransformer/examplemodels/TeaStoreVariation.bip.xmi
*.emftvm
*/build/*
*/generated/*
.vscode/*
*.class
ChipsCompiler/Chips_Parser/build/
ChipsCompiler/Chips_Parser/generated/
*.log
ChipsCompiler/FullCompileChain/Chips2BipTransformer/venv