ChipsCompiler/ATL Chips2BIP/models/output.xmi
ChipsCompiler/ATL Chips2BIP/emftvm.class
ChipsCompiler/ATL Chips2BIP/transformations/chips2bip.emftvm
ChipsCompiler/Chips_Parser/build
ChipsCompiler/Chips_Parser/generated
ChipsCompiler/Chips_Parser/.antlr
Report/*
ChipsCompiler/ATL Chips2BIP/models/TeaStoreVariation.xmi
*.bip.xmi
*.class