*.antlr
ChipsCompiler/ATL Chips2BIP/models/TeaStoreVariation.xmi
ChipsCompiler/FullCompileChain/Chips2BipTransformer/examplemodels/output/TeaStoreVariation.bip
ChipsCompiler/FullCompileChain/Chips2BipTransformer/examplemodels/TeaStoreVariation.bip.xmi
*.emftvm
*/build/*
*/generated/*
.vscode/*